APP_NAME=Laravel
APP_ENV=production
APP_KEY=base64:B2eRRvS7jATZA/FWDycvBDMLJAoEHDg4aSMNFgmhwWo=
APP_DEBUG=true
APP_URL=https://xaydungwebbackend-production.up.railway.app

# DATABASE - Railway sẽ tự ghi đè các giá trị này từ tab Variables
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

# DRIVERS - Để 'file' và 'sync' để đảm bảo web luôn khởi động được
SESSION_DRIVER=file
CACHE_STORE=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

# LOGGING
LOG_CHANNEL=errorlog
LOG_LEVEL=debug

# SECURITY & SESSIONS
BCRYPT_ROUNDS=12
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

# MAIL - Để chế độ log để không lỗi kết nối SMTP
MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"